<!-- Navbar Component -->
<nav class="navbar">
  <div class="nav-container">
    <div class="logo">NewsGuard<span>AI</span></div>
    <div class="nav-links">
      <a href="/" {% if active_page=='home' %}class="active" {% endif %}>Home</a>
      <a href="/about" {% if active_page=='about' %}class="active" {% endif %}>About</a>
      <a href="/how-it-works" {% if active_page=='how-it-works' %}class="active" {% endif %}>How it Works</a>
      <a href="/contact" {% if active_page=='contact' %}class="active" {% endif %}>Contact</a>
    </div>

    <!-- Mobile Hamburger Menu -->
    <div class="hamburger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="back-icon"><i class="fa-solid fa-x"></i>
      </div>
      <div class="sidebar-links">
      <a href="/" {% if active_page=='home' %}class="active" {% endif %}>Home</a>
      <a href="/about" {% if active_page=='about' %}class="active" {% endif %}>About</a>
      <a href="/how-it-works" {% if active_page=='how-it-works' %}class="active" {% endif %}>How it Works</a>
      <a href="/contact" {% if active_page=='contact' %}class="active" {% endif %}>Contact</a>
      </div>
    </div>

     <!-- Overlay -->
     <div class="overlay"></div>
  </div>
</nav>